<html>
    <head>
        <title>Login</title>
        <link rel="stylesheets" href="static/style.css">
    </head>
<body>
    <center>
    <div class="container">
        <h1>MIDTERM EXAM</h1>
        <hr>
        <div>
            <label for="username"><b>Username:</b></label>
            <input type="text" placeholder="Enter your username">
    </div><br>
    <div>
        <label for="password"><b>Password:</b></label>
        <input type="text" placeholder="Enter your password">
</div><br>
<button type="sumbit">Login</button>
<br><br>
<form action="registration.html" method="POST">
    <input type="submit" value="Register">
</form>
</body>
<div class="footer">
    <div class="footer-copyright text-center py-3">
        John Stephen Nalugon
    </div>
</div>
</center>
</html>